<footer class="footer">
  <span>{{ site.footerText }}</span>
  <a href="{{ site.baseurl }}/static/xml/rss.xml">RSS</a>
  {%- comment %} 请保留主题来源，么么哒~ {% endcomment %}
  <span>Theme</span>
  <a href="https://github.com/TMaize/tmaize-blog">TMaize</a>

  <!-- 不蒜子计数 -->
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<span id="busuanzi_container_site_pv" >| 总访问量 <span id="busuanzi_value_site_pv"></span> 次 </span>
<span id="busuanzi_container_site_uv" >| 总访客数 <span id="busuanzi_value_site_uv"></span> 人 </span>
<!-- 不蒜子计数 -->	
<a href="https://www.foreverblog.cn/" target="_blank" > <img src="https://img.foreverblog.cn/logo_en_default.png" alt="" style="width:auto;height:16px;"> </a>
<a href="https://www.foreverblog.cn/go.html" target="_blank"> <img src="https://img.foreverblog.cn/wormhole_3.gif" alt="" style="width:auto;height:32px;" title="穿梭虫洞-随机访问十年之约友链博客"></a>
![](https://icp.gov.moe/images/ico64.png) <a href="https://icp.gov.moe/?keyword=20231984" target="_blank">萌ICP备20231984号</a>

</footer>
<div id="to-top">
  <span></span>
  <span></span>
</div>
