<footer class="footer">
  <span>{{ site.footerText }}</span>
  <a href="{{ site.baseurl }}/static/xml/rss.xml">RSS</a>
  {%- comment %} 请保留主题来源，么么哒~ {% endcomment %}
  <span>Theme</span>
  <a href="https://github.com/TMaize/tmaize-blog">TMaize</a>

  <% if (theme.busuanziStatistics && theme.busuanziStatistics.totalTraffic) { %>
    <span id="busuanzi_container_site_pv" style='display:none'>
        <i class="fa fa-heart-o"></i>
        本站总访问量 <span id="busuanzi_value_site_pv" class="white-color"></span>
    </span>
<% } %>
<% if (theme.busuanziStatistics && theme.busuanziStatistics.totalNumberOfvisitors) { %>
    <span id="busuanzi_container_site_uv" style='display:none'>
        人次,&nbsp;访客数 <span id="busuanzi_value_site_uv" class="white-color"></span> 人.
    </span>
<% } %>
</footer>
<div id="to-top">
  <span></span>
  <span></span>
</div>
