<!DOCTYPE html>
<html lang="zh-CN">
{% include head.html -%}
<body ondragstart="return false;">
{% include header.html -%}
<div class="page page-post">
  <h1 class="title" id="{{ page.title }}">{{ page.title }}</h1>
  {% if page.date %}
  <div class="subtitle">{{site.author}} 于 {{ page.date | date: "%Y-%m-%d" }} 发布</div>
  {% endif %}
  <div class="post">
    {{ content }}
  </div>
  {% if site.extAdsense -%}
  <div class="adsense" style="overflow: hidden;">
    {% include ext-adsense.html -%}
  </div>
  {% endif %}
</div>
  <br />
  <br />
<hr />
  
  <!-- 下面是cusdis的评论模块 -->
  {%- if page.id -%}
<div id="cusdis_thread"
  data-host="https://cusdis.com"
  data-app-id="58a256fa-4ac6-4d0a-9a4c-d57558079c75"
  data-page-id="{{ page.id }}"
  data-page-url="{{ site.url }}{{ page.baseurl }}{{ page.url }}"
  data-page-title="{{ page.title }}"
  data-theme="light"   
  <!-- 这里是限制了cusdis模块默认浅色不随系统变更 -->
></div>
<script defer src="https://cusdis.com/js/cusdis.es.js"></script>
{%- endif -%}
<!-- 以下是原页面内容 -->
  
{% include footer.html -%}
{% include script.html -%}
</body>
</html>
